<div class="container">
    <div class="row">
        <div class="col-md-2 bg-light">
           <div class="sticky-top  mt-5">
            <ul>
                {% for category in categories %}
                <li><a href="{% url 'category_books' category.slug %}" class="badge badge-primary">{{category}}</a></li>
                {% endfor %}
            </ul>
           </div>
        </div>
        <div class="col-md-10">
            <div class="row mt-4">
                {% for book in books %}
                    <div class="col-md-3 mt-4">
                        <div class="card h-100">
                            <div class="card-header">
                                <img src="{{book.image.url}}" class="card-img-top" alt="..." height="300">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{book.title}}</h5>
                                <p class="card-text">{{ book.description|truncatewords:10 }}</p>
                                <strong>Price ${{book.price}}</strong>
                              
                            </div>
                            <div class="card-footer text-muted">
                                <a href="{% url 'book_details' book.id %}" class="btn btn-primary">Book Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>